body {
    text-align: center;
}

.rad {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    margin: 0px 0px;    
    bottom: 6px;
    position: relative;
}
.noShow {
    visibility: collapse;
    display: none;
}
